<!-- roombooking/bookings/templates/bookings/layout.html -->
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h1 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 2em;
    }
    </style>
    {% tailwind_css %}
</head>
<body>
    <header class="text-right">
        {% if user.is_authenticated %}
            <span class="mr-5">Hello {{ user.username}} !</span>
            <a href="{% url 'my_bookings' %}" class="mr-2">My Bookings</a>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="ml-4 px-4 py-2 bg-amber-300 hover:bg-amber-400 text-amber-950 rounded-3xl mr-auto">Logout
            </button>
        </form>
        {% else %}
        <br>
            <a>You must log in before booking.</a>
            <br>
            <a href="{% url 'login' %}" class="ml-4 px-4 py-2 bg-amber-300 hover:bg-amber-400 text-amber-950 rounded-3xl mt-10">Login</a>
        {% endif %}    
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- footer content here -->
    </footer>
</body>
</html>